

.container{
    text-align: center;
    margin: auto;
    margin-top: 140px;
    background-color: #445D48;
    max-width: 300px;
    padding: 15px;
    color: #001524;
    font-family: sans-serif;
    border-radius: 10px;
}

.title h3{
    color: #f4f4f4;
    font-size: 1.7em;
    font-family: sans-serif;
}

.loanAmount p {
    color: #f4f4f4;
    font-weight: 700;
    font-family: sans-serif;
}
.loanAmount input{
    width: 250px;
    height: 30px;
}
.interestRate p{
    color: #f4f4f4;
    font-weight: 700;
    font-family: sans-serif;
}
.interestRate input{
    width: 250px;
    height: 30px;
}

.monthsToPay p {
    color: #f4f4f4;
    font-weight: 700;
    font-family: sans-serif;
}
.monthsToPay input{
    width: 250px;
    height: 30px;
}
.payment{
    font-weight: 600;
    font-size: 20px;
}